@charset "utf-8";
main{
    
    margin: auto;
    width: 1100px;
    text-align: center;
    border-radius: 30px 20px ;
}
body{
    background-color: rgb(255, 251, 251);
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
h1{
    text-align: center;
}
img{border-radius: 10px;
    display:grid;/*Centralizar a imagem*/
    margin: auto; /*Centralizar a imagem*/

}
ul{
    text-align: justify;
    color:black;
    
}
a{
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}
p{
    text-align: center;
}