@charset "utf-8";
body{
    text-align: justify;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
     background-color: whitesmoke;
    border-radius: 10px;
    width: 1500px;
    padding: 100px;
    margin: auto;
    box-shadow: 10px 5px 20px

}
p{
    font-size: large;
}
ul{
    font-size: large;
}